<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Links Of CSS File -->
    <link
      rel="stylesheet"
      href="/static/website_assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/website_assets/css/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/website_assets/css/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="/static/website_assets/css/flaticon.css" />
    <link rel="stylesheet" href="/static/website_assets/css/remixicon.css" />
    <link rel="stylesheet" href="/static/website_assets/css/meanmenu.min.css" />
    <link rel="stylesheet" href="/static/website_assets/css/odometer.min.css" />
    <link rel="stylesheet" href="/static/website_assets/css/animate.min.css" />
    <link rel="stylesheet" href="/static/website_assets/css/style.css" />
    <link rel="stylesheet" href="/static/website_assets/css/responsive.css" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="/static/website_assets/images/favicon.png"
    />
    <!-- Title -->
    <title>One Call Tax Services - Services-details</title>
  </head>

  <body>
    <!-- Start Preloader Area -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="preloader-container">
          <div class="petal"></div>
          <div class="petal"></div>
          <div class="petal"></div>
          <div class="petal"></div>
          <div class="petal"></div>
          <div class="petal"></div>
          <div class="petal"></div>
          <div class="petal"></div>
          <div class="petal-1"></div>
          <div class="petal-1"></div>
          <div class="petal-1"></div>
          <div class="ball"></div>
        </div>
      </div>
    </div>
    <!-- End Preloader Area -->
    <div class="header-time">
      <p class="header-time-para">Business Hours &nbsp;  08:00 AM - 05:00 PM CST</p>
    </div> 
    <!-- Start Navbar Area -->
    <div class="navbar-area">
      <div class="mobile-responsive-nav">
        <div class="container">
          <div class="mobile-responsive-menu">
            <div class="logo">
              <a href="/">
                <img
                  src="/static/website_assets/images/logo.png"
                  class="main-logo"
                  alt="logo"
                  height="56px"
                  width="153px"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="desktop-nav">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/">
              <img
                src="/static/website_assets/images/logo.png"
                class="main-logo"
                alt="logo"
                height="56px"
                width="153px"
              />
            </a>

            <div
              class="collapse navbar-collapse mean-menu"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a href="/" class="nav-link border-style">Home</a>
                </li>

                <li class="nav-item">
                  <a
                    href="/refund-status"
                    class="nav-link dropdown-toggle border-style active"
                  >
                    Refund Status
                  </a>
                </li>

                <!-- <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a href="/services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                      <a href="/services_details" class="nav-link active"
                        >Services Details</a
                      >
                    </li>
                  </ul> -->

                <li class="nav-item">
                  <a href="/contact_us" class="nav-link border-style active"
                    >Contact Us</a
                  >
                </li>
              </ul>

              <div class="others-options">
                <ul class="d-flex align-items-center">
                  <li class="srac-bar">
                    <div class="option-item">
                      <div class="search-btn">
                        <img
                          src="/static/website_assets/images/icon/icon-1.svg"
                          class="src-icon"
                          alt="Image"
                        />
                      </div>
                      <i class="close-btn ri-close-line"></i>

                      <div class="search-overlay search-popup">
                        <div class="search-box">
                          <form class="search-form">
                            <input
                              class="search-input"
                              name="search"
                              placeholder="Search"
                              type="text"
                            />

                            <button class="search-button" type="submit">
                              <i class="ri-search-line"></i>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a
                      href="/app/home"
                      target="_blank"
                      class="default-btn active"
                    >
                      <span>Book An Appointment</span>
                      <i class="ri-book-line"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="/app/home"
                      target="_blank"
                      class="default-btn active"
                    >
                      <span>login</span>
                      <i class="ri-book-line"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="others-option-for-responsive">
        <div class="container">
          <div class="dot-menu">
            <div class="inner">
              <div class="circle circle-one"></div>
              <div class="circle circle-two"></div>
              <div class="circle circle-three"></div>
            </div>
          </div>

          <div class="container">
            <div class="option-inner">
              <div class="others-options justify-content-center">
                <ul>
                  <li class="srac-bar">
                    <div class="option-item">
                      <div class="search-btn">
                        <img
                          src="/static/website_assets/images/icon/icon-1.svg"
                          class="src-icon"
                          alt="Image"
                        />
                      </div>
                      <i class="close-btn ri-close-line"></i>

                      <div class="search-overlay search-popup">
                        <div class="search-box">
                          <form class="search-form">
                            <input
                              class="search-input"
                              name="search"
                              placeholder="Search"
                              type="text"
                            />

                            <button class="search-button" type="submit">
                              <i class="ri-search-line"></i>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a
                      href="/app/home"
                      target="_blank"
                      class="default-btn active"
                    >
                      <span>Book An Appointment</span>
                      <i class="ri-book-line"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Start Page Banner Area -->
    <div class="page-banner-area bg-14 ptb-100">
      <div class="container">
        <div class="page-banner-content">
          <h2 class="wow animate__animated animate__fadeInUp delay-0-2s">
            Services Details
          </h2>
          <ul class="wow animate__animated animate__fadeInUp delay-0-4s">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <span class="active">Services Details</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Page Banner Area -->

    <!-- Start Services Area -->
    <div class="services-post-area pt-100 pb-70">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="services-details">
              <img
                src="/static/website_assets/images/services/services-7.jpg"
                alt="Image"
              />
              <h3>Tax Preparation Services</h3>
              <h4>Overview</h3>
              <p>
                At OCTS, we are dedicated to providing solutions that precisely
                meet your needs. We understand that every client is unique, and
                we take pride in offering personalized services to address your
                specific requirements. Whether you are an individual, a small
                business, or a corporation, our dedicated team is committed to
                delivering exceptional results and a seamless experience. Our
                goal is to make your financial journey as smooth as possible.
              </p>
              <h4>Customized To Meet Your Needs</h4>
              <p>
                Our approach is all about flexibility and customization. We take
                the time to understand your unique situation, allowing our
                services to match your goals and preferences. Whether you
                require comprehensive financial assistance or targeted
                solutions, our team is here to assist you every step of the way.
                We aim to provide the support you need to achieve your financial
                objectives.
              </p>
              <h4>How We Deliver</h4>
              <p>
                Our commitment to excellence extends to the way we deliver our
                services. We pride ourselves on efficient and reliable processes
                that ensure your experience with us is smooth and stress-free.
                Our goal is not only to meet but exceed your expectations. We
                believe in making a positive impact on your financial
                well-being.
              </p>
              <ul>
                <li>
                  <i class="ri-check-line"></i>
                  We invite you to contact us today to explore how our
                  customized solutions can benefit you.
                </li>
              </ul>

              <h4 class="mt-0">Recognized Global Tax Specialist</h4>
              <p>
                At OCTS, we are proud to be recognized as global tax
                specialists. Our expert team is dedicated to helping you
                navigate the complexities of taxation, ensuring compliance, and
                optimizing your financial outcomes. With a deep understanding of
                global tax regulations, we offer specialized services to
                individuals and businesses. Count on us to provide expert
                guidance and solutions to meet the unique challenges of the
                international tax landscape. Regarding taxation, choose OCTS,
                the globally recognized experts.
              </p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="widget-sidebar">
              <div class="sidebar-widget recent-post">
                <h3>Our Services</h3>

                <ul>
                  <li>
                    <a href="#">
                      Personal Income Tax
                      <i class="ri-arrow-right-s-line"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      International Tax
                      <i class="ri-arrow-right-s-line"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Financial Advice
                      <i class="ri-arrow-right-s-line"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Global Employer Services
                      <i class="ri-arrow-right-s-line"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Expat Tax Services
                      <i class="ri-arrow-right-s-line"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Online Tax Filing
                      <i class="ri-arrow-right-s-line"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="sidebar-widget help-us">
                <h3>Need Help</h3>

                <form>
                  <div class="row">
                    <div class="col-lg-12 col-md-6">
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <div class="form-group">
                        <label>Comment</label>
                        <textarea
                          class="form-control"
                          cols="30"
                          rows="6"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <button type="submit" class="default-btn">
                        Send Message
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Services Area -->

    <!-- Start Footer Area -->
  <!-- Start Footer Area -->
  <div class="footer-area bg-color-022641 pt-50 pb-10">
    <div class="container footer-main">
      {% comment %}
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div
            class="single-footer-widget wow animate__animated animate__fadeInUp delay-0-2s"
          >
            <a href="/" class="white-logo">
              <img
                src="/static/website_assets/images/white-logo.png"
                alt="Image"
              />
            </a>
            <h4>Sign Up For Our Newsletter</h4>

            <form class="newsletter-form" data-toggle="validator">
              <input
                type="email"
                class="form-control"
                placeholder="Your email address"
                name="EMAIL"
                required
                autocomplete="off"
              />

              <button class="default-btn" type="submit">Subscribe</button>

              <div id="validator-newsletter" class="form-result"></div>
            </form>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div
            class="single-footer-widget wow animate__animated animate__fadeInUp delay-0-4s"
          >
            <h3>Services</h3>

            <ul class="import-link">
              <li>
                <a href="/tax_preparation_services"
                  >Tax Preparation Service</a
                >
              </li>
              <li>
                <a href="/tax_preparation_services"
                  >Tax Consulting Services</a
                >
              </li>
              <li>
                <a href="/tax_planning_services">Tax Planning Services</a>
              </li>
              <li>
                <a href="/business_consulting_services"
                  >Global Employer Services</a
                >
              </li>
              <li>
                <a href="/tax_planning_services">Personal Income Tax</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div
            class="single-footer-widget wow animate__animated animate__fadeInUp delay-0-6s"
          >
            <h3>Useful Links</h3>

            <ul class="import-link">
              <li>
                <a href="#">Our Team</a>
              </li>
              <li>
                <a href="#">FAQs</a>
              </li>
              <li>
                <a href="#">Terms & Conditions</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div
            class="single-footer-widget wow animate__animated animate__fadeInUp delay-0-8s"
          >
            <h3>Contact Us</h3>

            <ul class="contact-info">
              <li>
                <span>Location:</span>
                687 Charles Road Chapel Hill, NC 27654
              </li>
              <li>
                <span>Email:</span>
                <a href="mailto:taks@gmail.com">taks@gmail.com</a>
              </li>
              <li>
                <span>Phone:</span>
                <a href="tel:+1-664-248-1357">+1 664 248 1357</a>
              </li>
              <li>
                <span>Mon – Fri:</span>
                08:00am - 07:00pm
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endcomment %}
      <img
        src="/static/website_assets/images/white-logo-footer.png"
        alt="Image"
        class="footer-logo"
      />

      <p class="footer-time">Business Hours &nbsp; 08:00 AM - 05:00 PM CST</p>
      <div class="col-lg-6 pb-10">
        <div
          class="copy-right-content wow animate__animated animate__fadeInLeft delay-0-2s"
        >
          <p class="copy-right-footer" style="margin-bottom: 20px">
            © All rights reserved for
            <a href="https://www.onecalltaxservices.com/" target="_blank"
              >One Call Tax Services</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Area -->

  <!-- Start Copy Right Area -->
  <div class="copy-right-area bg-color-022641 pb-20">
    <div class="container">
      <div class="copy-right-wrap">
        <div class="row">
          {% comment %}
          <div class="col-lg-6">
            <div
              class="copy-right-content wow animate__animated animate__fadeInLeft delay-0-2s"
            >
              <p>
                © All rights reserved for
                <a href="https://www.onecalltaxservices.com/" target="_blank"
                  >One Call Tax Services</a
                >
              </p>
            </div>
          </div>
          {% endcomment %}
          <div class="col-lg-6 footer-icons">
            <div
              class="copy-right-social-icon wow animate__animated animate__fadeInRight delay-0-2s"
            >
              <ul>
                <li>
                  <a href="https://www.facebook.com/" target="_blank">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" target="_blank">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Copy Right Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
      <i class="ri-arrow-up-s-fill"></i>
      <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->

    <!-- Links of JS File -->
    <script src="/static/website_assets/js/jquery.min.js"></script>
    <script src="/static/website_assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/website_assets/js/meanmenu.min.js"></script>
    <script src="/static/website_assets/js/owl.carousel.min.js"></script>
    <script src="/static/website_assets/js/appear.min.js"></script>
    <script src="/static/website_assets/js/odometer.min.js"></script>
    <script src="/static/website_assets/js/wow.min.js"></script>
    <script src="/static/website_assets/js/form-validator.min.js"></script>
    <script src="/static/website_assets/js/contact-form-script.js"></script>
    <script src="/static/website_assets/js/ajaxchimp.min.js"></script>
    <script src="/static/website_assets/js/custom.js"></script>
  </body>
</html>
